PORT=5000
DATABASE_URL="postgresql://neondb_owner:npg_vPfsIW7GM2bS@18.138.49.39/book_my_local_service?sslmode=no-verify&options=endpoint%3Dep-young-mud-ao18imj0"
JWT_SECRET="bookmylocalservice-super-secret-jwt-key-2026"
CLIENT_URL="https://bookmylocalservice.onrender.com"

CLOUDINARY_CLOUD_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_key
CLOUDINARY_API_SECRET=your_cloudinary_secret

EMAIL_USER=bookmylocalservice@gmail.com
EMAIL_PASS=your_email_app_password

RAZORPAY_KEY_ID=rzp_test_TLY3WrHobKhk5H
RAZORPAY_KEY_SECRET=qovV9MPLFi0kbg6AR7iSN44l
